*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Versión mobile */
body{
    font-family: "Bad Script", cursive;
    width: 100vw;
    height: 100vh;
    background-color: #2C235A;
    color: #fff;
}
/* Barra de navegacion */

.brand img {
    width: 80px;
    border-radius: 14px;
    filter: drop-shadow(0px 7px 14px #04f5a6);
}
.navbar {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #4A235A;
}
.menu {
    display: flex;
    width: 80%;
    justify-content: space-around;
}
.menu a {
    color: #fff;
    text-decoration: none;
}
.menu a:hover {
    color: #04f5a6;
    background-color: #2C235A;
    transition: ease-in .4s;
}

.menu li {
    list-style: none;
}
/* Sección hero */
.hero {
    grid-area: hero;
    display: flex;
    margin: 6px ;
    justify-content: center;

}
h1 {
    color:#04f5a6 ;
}

.hero p {
    text-align: center;
}

.ver_curriculum {
    padding: 4px;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    cursor:pointer;
    background-color: 	#4A235A;
    transition: background-color 0.4s ease-in;
}

.ver_curriculum:hover {
    background-color: #04f5a6;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.info img {
    width: 140px;
    border: 4px solid #04f5a6;
    border-radius: 60px;
    align-items: center;
}

/* main */

main {
    grid-area: main;
    background-color: #154360;
    gap: 2rem;

}
.galeria{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 1 rem;
    margin: auto;    
}

.tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2px;
    flex-wrap: wrap;
    flex-grow: 1;
    border: solid 2px #4A235A;
    border-radius: 10px;
    
}
.tarjeta img{
    display: block;
    width: 100%;
    object-fit: contain;
    height: 100%;
    border-radius: 10px;
    margin-top: 6px;
}
@keyframes show {
    from {
        opacity: 0;
        scale:25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}
.tarjeta img {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 70%;
    animation-fill-mode: both;
}


.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.boton{
    display: flex;
    justify-content: center;
    background-color: #04f5a6;
    border-radius: 20px ;
    cursor: pointer;
    transition: background-color 0.3s ease-out ;
}
.boton:hover{
    background-color: #4A235A;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    
    
}

.container {
    background-color:#4A235A;
    width: 60%;
    height: 140px;
    color: #04f5a6;
    border-radius: 10px;
    display: flex;
    margin: 4px;
    display: block;
    
    

}
.container h4 {
    font-size: 20px;
    text-align:center;
    display: block;
    
}

.logos {
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.container i {
    color: #154360;   
    margin: 16px;
}



.grid-container {
    display: grid;
    grid-template-areas: "nav" "hero" "main" "footer";
    grid-template-columns: 1fr;
}

/* versión de escritorio */

@media (min-width: 576px) {
    body{
        font-family: "Bad Script", cursive;
        width: 100vw;
        height: fit-content;
        background-color: #2C235A;
        color: #fff;
    }
   
    .navbar{
        font-size: 30px;
        display: grow;
        flex-direction: column;
        justify-content: flex-start;

    }
    .brand img {
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    .menu{
        font-size: 20px;
        flex-direction: column;
    }
    .menu li {
        gap: 4rem;

    }

    main {
        height: auto;
        margin: 5px 5px 5px 5px;
    }
   
    .galeria {
        display: grid;
        grid-template-columns: auto auto;
        width: 90%;
        height: auto;
        gap: 4rem;
        
    }

    .tarjeta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80vh;
        height: 100%;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 5px;
        border: solid 6px #4A235A;
        border-radius: 10px;
       
    }
    
    .tarjeta img{
        width: 100%;
        height: auto;
        border-radius: 10px;
        
    }
    @keyframes show {
        from {
            opacity: 0;
            scale:25%;
        }
        to {
            opacity: 1;
            scale: 100%;
        }
    }
    .tarjeta img {
        view-timeline-name: --image;
        view-timeline-axis: block;
        animation-timeline: --image;
        animation-name: show;
        animation-range: entry 25% cover 70%;
        animation-fill-mode: both;
    }
    
    
    .contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .boton{
        display: flex;
        justify-content: center;
        background-color: #04f5a6;
        align-items: end;
    }
    
    .container {
        width: 30%;
        margin: 0;
        padding: 0;
    }

    .container h4 {
        font-size: 30px;
    }

    .logos {
        justify-content: space-around;
    }

    .grid-container{
        display: grid;
        grid-template-areas: "hero hero" "nav main"  "footer footer";
        grid-template-columns: 2fr 10fr;
        }

}