*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Versión mobile */
body{
    font-family: "Bad Script", cursive;
    width: 100vw;
    height: 100vh;
    background-color: #2C235A;
    color: #fff;
}
/* Barra de navegacion */

.brand img {
    width: 80px;
    border-radius: 14px;
}
.navbar {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #4A235A;
}
.menu {
    display: flex;
    width: 80%;
    justify-content: space-around;
}
.menu a {
    color: #fff;
    text-decoration: none;
}
.menu a:hover {
    color: 	#00FFFF;
    background-color: #9B59B6;
    transition: ease-in .4s;
}

.menu li {
    list-style: none;
}
/* Sección hero */
.hero {
    grid-area: hero;
    display: flex;
    margin: 6px ;
    justify-content: center;

}
h1 {
    color:#04f5a6 ;
}

.hero p {
    text-align: center;
}

.ver_curriculum {
    padding: 4px;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    cursor:pointer;
    background-color: 	#4A235A;
}

.ver_curriculum:hover {
    background-color: #04f5a6;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.info img {
    width: 140px;
    border: 4px solid #04f5a6;
    border-radius: 60px;
    align-items: center;
}

/* main */

main {
    grid-area: main;
    background-color: #154360;

}
.galeria{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 1 rem;
    margin: auto;
    width: 60%;

    
}
.tarjeta{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2px;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 4px;
    border: solid 2px #4A235A;
    border-radius: 10px;
}
.tarjeta img{
    width: 100%;
    object-fit: contain;
    height: 200px;
    border-radius: 10px;
    margin-top: 6px;
    transition: transform 0.4s;
}

.tarjeta img:hover{
    transform: scale(1.8);
}
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton{
    display: flex;
    justify-content: center;
    background-color: #04f5a6;
    transition: background-color 0.3s ease-out ;
}
.boton:hover{
    background-color: #4A235A;
}

section {
    grid-area: section;
    display: flex;
    justify-content: center;
    
    
}

.container {
    background-color:#4A235A;
    width: 60%;
    height: 120px;
    color: #04f5a6;
    border-radius: 10px;
    display: flex;
    margin: 4px;
    display: block;
    
    

}
.container h4 {
    font-size: 20px;
    text-align:center;
    display: block;
    
}

.logos {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    
}

.container i {
    color: #04f5a6;   
    margin: 16px;
}


footer {
    grid-area: footer;
    background-color: #4A235A;
    color: #04f5a6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    
}
footer p {
    text-align: center;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-areas: "nav" "hero" "main" "section" "footer";
    grid-template-columns: 1fr;
}

/* versión de escritorio */

@media (min-width: 576px) {

    .grid-container{
    display: grid;
    grid-template-areas: "hero hero" "nav main" "section section" "footer footer";
    grid-template-columns: 2fr 10fr;
    }
    .navbar{
        font-size: 20px;
        display: grow;
        flex-direction: column;
        justify-content: flex-start;

    }
    .brand img {
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    .menu{
        font-size: 20px;
        flex-direction: column;
    }
    .menu li {
        gap: 4rem;

    }

    .galeria {
        display: grid;
        grid-template-columns: auto auto;
        gap: 4 rem;
        
    }

    .tarjeta{
        display: flex;
        flex-direction: column;
        width: 50vh;
        height: 90vw;
        height: auto;
        flex-wrap: wrap;
        flex-grow: 1;
        margin: 4px;
        border: solid 2px #4A235A;
        border-radius: 10px;
        
        
    }
    .imagen{
        margin: 8px;
        width: 100%;
        object-fit: contain;
        border-radius: 10px;
        transition: transform 0.4s;
    }
    
    .tarjeta img:hover{
        transform: scale(3);
    }
    
    
    .contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .boton{
        display: flex;
        justify-content: center;
        background-color: #04f5a6;
    }
    
    .container {
        width: 30%;
        margin: 0;
        padding: 0;
    }

    .container h4 {
        font-size: 30px;
    }

    .logos {
        justify-content: space-around;
    }


    footer {
        background-color:#154360;
        margin: 0;
        padding: 0;
        font-size: 40px;
        height: 60px;
        color:#4A235A
    }

}